#include base.template
autoconf
automake
boost
cmake
doxygen
gcc-g++
gdb
gettext-tools
glib
glib-networking
glib2
icu4c
imake
intltool
iso-codes
kernel-source
libarchive
libcap
libcroco
libpthread-stubs
libtool
llvm
m4
mercurial
nasm
oprofile
pkg-config
slacktrack
swig
yasm
